<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		<!--/WEB-INF/springmvcdispatcher-auth-servlet.xml-->
		/WEB-INF/springmvcdispatcher-servlet.xml,
		/WEB-INF/springmvcdispatcher2-servlet.xml,
		/WEB-INF/security/security-servlet.xml
		</param-value>
	</context-param>
	 <!-- Spring Security Necessary-->
	 <!-- see also:  -->
	 <filter>
	  <filter-name>springSecurityFilterChain</filter-name>
	  <filter-class>org.springframework.web.filter.DelegatingFilterProxy </filter-class>            
	 </filter>
	 <filter-mapping>
	  <filter-name>springSecurityFilterChain</filter-name>
	  <url-pattern>/*</url-pattern>
	 </filter-mapping>
	 <!-- Spring Security Necessary ends-->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
        <!--             default is /WEB-INF/[servlet-name]-servlet.xml -->
		<!--  -->
<!-- 		Whether to initialize the servlet or not on startup. -->
<!-- 		1: call "init" of the servlet on server startup. -->
<!-- 		0(default) : call "init" only when the first request happens -->
		<!--   -->
	<servlet>
		<servlet-name>springmvcdispatcherauth</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<!-- this init-param allows java style config instead of xml style -->
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>
				org.springframework.web.context.support.AnnotationConfigWebApplicationContext
			</param-value>
		</init-param>
		<!-- optional:  -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				config.security.AuthConfig,
				config.security.WebSecurityConfig
				<!--/WEB-INF/springmvcdispatcher-auth-servlet.xml-->
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvcdispatcherauth</servlet-name>
		<!-- The requsts that matches the url-pattern would be assign to the servlet to process. -->
		<url-pattern>/auth/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>springmvcdispatcher</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<!-- optional:  -->
		<init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/springmvcdispatcher-servlet.xml</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvcdispatcher</servlet-name>
		<!-- The requsts that matches the url-pattern would be assign to the servlet to process. -->
		<url-pattern>/dispatcher1/*</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>springmvcdispatcher2</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<!-- optional:  -->
		<init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/springmvcdispatcher2-servlet.xml</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvcdispatcher2</servlet-name>
		<!--  The requsts that matches the url-pattern would be assign to the servlet to process. -->
		<url-pattern>/dispatcher2/*</url-pattern>
	</servlet-mapping>
</web-app>
